body {
  background-image: url(sunflower.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
  font-family: 'Kurale', serif;
  font-size: 7em;
  font-weight: bold;
}

.col-md-4 img {
  width: 100%;
}

.frank img {
  display: inline-block;
  width: 340px;
  height: 340px;
  margin-left: 19%;
  margin-right: 20%;
}

.frank p {
  margin-left: 19%;
}

.col-md-4 {
  padding-top: 1%;
  background-color: rgba(255, 255, 255, 0.7);
  height: 53%;
  border: rgba(255, 255, 255, 0.75) 1px solid;
}

.row {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.3;
}

.row a {
  color: black;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
}

.row a:hover {
  text-decoration: none;
  border-top: 5px white solid;
  border-bottom: 5px white solid;
  font-size: 1.1em;
}

.navbar-fixed-bottom {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}